<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false">

     <!-- PROVIDE SPRING LOGGING DEFAULTS WHICH INCLUDES COLOR CODED CONSOLE OUTPUT -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!-- FILE APPENDER -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxFileSize>${LOG_FILE_MAX_SIZE:-500MB}</maxFileSize>
            <maxHistory>${LOG_FILE_MAX_HISTORY:-4}</maxHistory>
            <totalSizeCap>${LOG_SIZE_CAP:-2GB}</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>


    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
